.home-button {
	margin: 5%;
	border-color: transparent;
	background-color: rgb(238, 119, 0);
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.home-button:hover {
	box-shadow: 4px 4px 8px gray;
	transition: 1s;
}